* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{

    font-size: 100%;
    background: linear-gradient(68.15deg, #e6dfe0 16.62%, #a7306b 85.61%);
}

.cabecalho{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 26px;
}

.cabecalho-imagem{
    height: 72px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho- menu-item{
    font-family: 'Sarala', Arial, Helvetica, sans-serif;
    color:rgb(39, 145, 202);
    font-weight: 400;
    font-size: 18px;

}

.conteudo{
    border-top: 0.4px solid #b1afcf;
    margin-bottom: 48px;
}
}