* {
    margin:4;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{

    font-size: 100%;
    background: linear-gradient(68.15deg, #e6dfe0 16.62%, #a7306b 85.61%);
}

.cabecalho{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 26px;
}

.cabecalho-imagem{
    height: 72px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho- {
    font-family: 'Sarala', sans-serif;
    color:rgb(216, 224, 229);
    font: weight 500px;
    font-size:20px;
}

.conteudo{
    margin-bottom: 30px;
    border-top: 0.4px solid
}


.conteudo-principal{
    font-family: 'Sarala', sans-serif;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    align-items:center;
    justify-content: space-around;
    color: #240888; 
}

.conteudo- principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
    
    

}

.conteudo principal- escrito-titulo{
    font-family: 'righteous', cursive;
    font-weight: 400;
    font-size: 30px;
    color: #240888;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #240888; 
}

.conteudo-principal-escrito-botao{
    background-color:#1bbbd4
    width: 180px;
    height: 70px;
    border:none;
    box-shadow: 4px 5px 4px rgba(0,0,0,0.25);
    border: radius 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: ##2F2323;

}

.conteudo-principal-imagem{
    height: 600px;
}

.conteudo-segundario-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px;   
    margin-top: 48px; 
}

.conteudo-segundario-paragrafo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px;

}

.conteudo-segundario-titulo{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
}