* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{

    font-size: 100%;
    background: linear-gradient(68.15deg, #e6dfe0 16.62%, #a7306b 85.61%);
}

.cabecalho{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 26px;
}

.cabecalho-imagem{
    height: 72px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho- {
    font-family: 'Sarala', sans-serif;
    color:rgb(216, 224, 229);
    font: weight 500px;;
    font-size:20px;
}

.conteudo{
    margin-bottom: 18px;
    border-top: 0.4px solid
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
}