*{margin:0;padding: 0;}

.container-principal{font-family: 'verdana';color: #777;}

header{width: 100%;height: 100px; background-color: rgb(254, 251, 253);position:relative;top:0;}

.logo{position: absolute;width: 300px; height: auto;}
.logo img {width: 90%; margin-left: 10%;}

nav {position: absolute; right: 30px; bottom: 0px;}
nav ul li {float:left; color: #fff; width:auto; margin: 0.8em; font-size: 1em;font-family: 'verdana';list-style: none;}
nav ul li a {text-decoration: none;color: #bbb;}
nav ul li a:hover{color: #b13030;}

#banner{width: 100%;}
#banner img{width: 100%;margin-bottom: 0;}

.modalDialog{
    position: fixed;
    font-family: "Verdana";
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(181, 9, 9, 0.8);
    z-index:999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    display: none;
}   

.modalDialog:target{
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.modalDialog div {
    width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 10px;
    background-color: #fff;
}

.modalDialog p{
    margin-top: 5%;
    margin-bottom: 5%;
}

.modalDialog img {
    width: 50%;
    position: relative ;
    margin-left: 25%;
}

.close{
    background-color: #606061;
    color: #ffffff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top:-10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.close:hover{
    background-color: #b50909;
}

.color-page{ background-color: #ddd;

}

.img-titulo{ width: 20%; height: auto; margin-left: 10px;position: relative; float: left; margin-right: 5%;}

.img-titulo img {width 90%; margin-left: 10%; margin-top: 50px;}

